.header {
    min-width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
a {
    color: #4078c0;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.header-logo {
    float: left;
    margin-right: 10px;
    margin-left: -2px;
    color: #333;
    white-space: nowrap;
}
.icon{
    height: auto;
    width: "28";
}
.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.container:before {
    display: table;
    content: "";
}
.container:after {
    display: table;
    clear: both;
    content: "";
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.header-nav {
    list-style: none;
}
ul, ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    display: inline-block;
    text-align: -webkit-match-parent;
}
.dropdown {
    position: relative;
}
.site-search {
    position: relative;
    float: left;
}
.user-nav .header-nav-link {
    height: 28px;
}
.header-nav-title {
    height: 28px;
    display: block;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
.header-nav-link {
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}
.tooltipped {
    position: relative;
}
.user-nav .octicon-bell {
    vertical-align: text-bottom;
}
.user-nav .octicon {
    width: 16px;
    margin-top: 1px;
    text-align: center;
}

svg:not(:root) {
    overflow: hidden;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.dropdown-menu-content {
    display: none;
}
.header-nav-item .dropdown-menu {
    width: 180px;
    margin-top: 13px;
    display: inline-block;
}
.dropdown-menu-sw {
    right: 0;
    left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}
.header-nav-current-user {
    padding-bottom: 0;
    font-size: inherit;
}
.dropdown-header {
    padding: 4px 15px;
    font-size: 12px;
    color: #767676;
}
.dropdown-divider {
    height: 1px;
    margin: 8px 1px;
    background-color: #e5e5e5;
}
.dropdown-item {
    display: block;
    padding: 4px 10px 4px 15px;
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-signout {
    width: 100%;
    text-align: left;
    background: none;
    border: 0;
}
textarea, button {
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}